<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>judul</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <style>
    
    header{
      background: rgb(76, 8, 97);
      height: 70px;
    }
    .detail-container{
      height: 100%;
    }
    .form{
      margin: 3rem 0;
    }
    .title{
      margin-top: 2rem;
    }
    .card-link{
      color: rgb(87, 88, 95);
      border: rgb(130, 127, 127) solid 1px;
      padding: 5px 10px;
      margin-top: 2rem;
      display: block;
    }
    .flex{
      display: flex;
      gap: 2rem;
      align-items: center;
      height: 100%;
      
    }
    ul{
      list-style: none;
      
    }
    a{
      text-decoration: none;
      color: #fff;
    }
    footer{
      background: rgb(76, 8, 97);
      color: #fff;
      
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
    }
    .img-profile{
      width: 200px;
    }
  </style>
</head>
<body>